#container{
    background-color: rgb(117, 117, 226);
    width: 100%;
    height: 640px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.child1{
    position: relative;
    width: 600px;
    height: 450px;
    background-color: white;
    border: 2px solid black;
    top: 60px;
    left: 1000px;
    z-index: 1;
}
.iou{
    width: 600px;
    height: 450px;
    transform: scaleY(1.34);
}
.cc{
    position: relative;
    width: 1335px;
    height: 650px;
    right: 520px;
    bottom: 7px;
   
}
.cc1{
    position: relative;
    width: 600px;
    height: 100px;
    top: 545px;
   left: 820px;
   z-index: 1;
}
.child{
    position: relative;
    z-index: 1;
    top: 100px;
    right: 1800px;
    width: 0px;
    height: 0px;
}
.child h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   font-style: italic;
}
.child p{
    font-size: large;
    color: white;
    display: inline-block;
    width: 300px;
}